doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title #{title}
    link(rel='stylesheet', href='/stylesheets/bootstrap.css', media='screen')
    link(rel='stylesheet', href='/stylesheets/tutor.css')

    script(src='scripts/libs/head.js')
    script(src='scripts/start.js')
  body
    #header: .content PERET
    #content.center
      #problem-display
        .title Problem Description
        .content

      #problem-input
        .title Problem Input
        .content

      #steps
        .title Steps
        .content

      #results
        .title Results
        .content
