!!!5
html
  head
    title #{title} - My Site
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheed', href='/stylesheets/bootstrap.css', media='screen')
    link(rel='stylesheet', href='/stylesheets/tutor.css')
  body
    script(src='http://code.jquery.com/jquery.js')
    script(src='/js/bootstrap.js')
    | hello world
